.logo {
  width: 305px;
}

.box-pesquisa {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 25px;
  border-color: #f26530;
  border-width: 3px;
  padding-left: 20px;
  width: 400px;
  height: 50px;
  font-size: large;
}

.acesso {
  font-family: "Inria Sans", sans-serif;
  font-size: 105%;
  text-transform: uppercase;
  white-space: pre-wrap;

  & > .col {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    width: 73px;
  }
}

.categorias {
  background-color: #f26530;

  ul {
    font-family: "Inria Sans", sans-serif;
    color: white;
    display: flex;
    list-style: none;

    padding-inline-start: 0;
    width: 100%;

    li {
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 60px;
        margin-right: 0.5rem;
      }

      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
