<div class="container-fluid text-center">
  <div class="row align-items-center">
    <div class="col-12 col-lg col-xl">
      <a routerLink="/home/recipes">
        <img
          class="logo"
          src="Logo inteiro.svg"
          alt="logo do site, garfo e faca cruzados com um chapeu de cozinheiro"
        />
      </a>
    </div>
    <div class="col-12 col-lg-6 col-xl">
      <input
        class="box-pesquisa"
        type="search"
        name="query"
        placeholder="Pesquisar receitas"
      />
    </div>
    <div class="col-12 col-lg-6 col-xl">
      <div class="row acesso">
        @if(isLogin){
          <div class="col">
            <a routerLink="/home/books">
              <img src="book-open.svg" alt="icone do livre aberto" />
              <strong>Livro de receitas</strong>
            </a>
          </div>
          <div class="col">
            <a routerLink="/home/perfil">
              <img src="user-logado.svg" alt="icone de uma pessoa mas com um botão de acrescimo" />
              <strong>Meu Perfil</strong>
            </a>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border: none; padding: 0;">
              <img class="img-fluid" src="menu-receitas.svg">
            </button>
            <ul class="dropdown-menu">
              <li><a routerLink="/home/perfil" class="dropdown-item" >Perfil</a></li>
              <li><a class="dropdown-item" >Minhas receitas</a></li>
            </ul>
          </div>
          <div class="col">
            <button (click)="sair()">
              <img src="exit.svg" alt="icone de saida" />
              <strong>Sair</strong>
            </button>
          </div>
        }
        @else{
          <div class="col">
            <a routerLink="/home/books">
              <img src="book.svg" alt="icone de soma" />
              <strong>Livro de receitas</strong>
            </a>
          </div>
          <div class="col">
            <a routerLink="/user/cadastro">
              <img src="icone-cadastro.svg" alt="icone de soma" />
              <strong>Cadastrar-se</strong>
            </a>
          </div>
          <div class="col">
            <a routerLink="/user/login">
              <img src="icone-usuario.svg" alt="icone de uma pessoa" />
              <strong>Faça login aqui</strong>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="row categorias">
    <div class="col">
      <ul class="row my-2">
        <li class="col">
          <a href="URL_Aves">
            <img src="chicken.svg" alt="ícone de frango" /><span>Aves</span>
          </a>
        </li>
        <li class="col">
          <a href="URL_Peixes">
            <img src="fish.svg" alt="ícone de peixe" /><span>Peixes</span>
          </a>
        </li>
        <li class="col">
          <a href="URL_Salgados">
            <img src="salt.svg" alt="ícone de saleiro" /><span>Salgados</span>
          </a>
        </li>
        <li class="col">
          <a href="URL_Carnes">
            <img src="meat.svg" alt="ícone de carne" /><span>Carnes</span>
          </a>
        </li>
        <li class="col">
          <a href="URL_Sobremesas">
            <img src="cookie.svg" alt="ícone de um biscoite" /><span
              >Sobremesas</span
            >
          </a>
        </li>
        <li class="col">
          <a href="URL_Bolos">
            <img src="cake.svg" alt="ícone de bolo" /><span>Bolo</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
