.titulo{
  display: flex;
  justify-content: center;
  width: 100%;

}

.form-group{
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  strong{
    font-size: 1.2rem;
  }
}

.btn-secondary{
  background-color: #097D4C;
  border-color: #097D4C;
}

.btn-primary{
  background-color: #F26530;
  border-color: #F26530;
}

.content{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
