<div class="container mt-5">
  <h1 class="titulo fw-bold">Criar Nova Receita</h1>
  <form [formGroup]="recipe">
    <!-- Nome -->
    <div class="form-group">
      <label for="nome"><strong>Nome</strong></label>
      <input formControlName="name" type="text" class="form-control" id="nome" placeholder="Digite o nome da receita">
    </div>
    <!-- Tempo de Preparo -->
    <div class="form-group">
      <label for="tempoPreparo"><strong>Tempo de Preparo (minutos)</strong></label>
      <input formControlName="preparationTime" type="number" class="form-control" id="tempoPreparo" placeholder="Digite o tempo de preparo">
    </div>
    <!-- Porção -->
    <div class="form-group">
      <label for="porcao"><strong>Porção</strong></label>
      <input formControlName="portion" type="number" class="form-control" id="porcao" placeholder="Digite o número de porções">
    </div>
    <!-- Calorias -->
    <div class="form-group">
      <label for="calorias"><strong>Calorias</strong></label>
      <input formControlName="calories" type="number" class="form-control" id="calorias" placeholder="Digite o número de calorias">
    </div>

    <!-- Ingredientes
    <div class="form-group">
      <label for="ingredientes"><strong>Ingredientes</strong></label>
      <textarea class="form-control" id="ingredientes" rows="5" placeholder="Digite os ingredientes separados por vírgula"></textarea>
    </div>
     Modo de Preparo
    <div class="form-group">
      <label for="modoPreparo"><strong>Modo de Preparo</strong></label>
      <textarea class="form-control" id="modoPreparo" rows="5" placeholder="Descreva o modo de preparo"></textarea>
    </div> -->

    <!-- Descrição -->
    <div class="form-group">
      <label for="descricao"><strong>Descrição</strong></label>
      <textarea formControlName="description" class="form-control" id="descricao" rows="3" placeholder="Descreva a receita"></textarea>
    </div>
    <!-- Categorias -->
    <div class="form-group">
      <label for="categorias"><strong>Categoria</strong></label>
      <select formControlName="categoryId" class="form-control" id="categorias">
        <option value="1">Aves</option>
        <option value="2">Salgados</option>
        <option value="3">Peixes</option>
        <option value="4">Carnes</option>
        <option value="5">Sobremesas</option>
        <option value="6">Bolos</option>
      </select>
    </div>
    <!-- Score -->
    <!-- Anexar Imagem -->
    <!-- <div class="form-group">
      <label for="imagem"><strong>Anexar Imagem</strong></label>
      <input formControlName="imagem" type="file" class="form-control-file" id="imagem">
    </div> -->
    <!-- Botões -->
    <div class="content">
      <button type="button" class="btn btn-primary">Publicar</button>
      <button type="button" class="btn btn-secondary" (click)="createRecipe()">Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
