<form class="form" (ngSubmit)="register()">
  <h1 class="h3 fw-normal"><strong>Cadastre sua conta</strong></h1>
  <div *ngIf="message" class="alert alert-success">{{ message }}</div> <!-- Mensagem de confirmação -->
  <div class="form-floating input">
    <input required type="text" id="name" name="name" autocomplete="username" class="form-control"
      placeholder="João Marcos" [(ngModel)]="user.name">
    <label for="name">Nome</label>
  </div>
  <div class="form-floating input">
    <input required type="email" class="form-control" id="email" autocomplete="email" placeholder="name@example.com"
      [(ngModel)]="user.email" name="email">
    <label for="email">Email</label>
  </div>
  <div class="form-floating input">
    <input autocomplete="new-password" minlength="8" type="password" class="form-control" id="password"
      placeholder="Senha" [(ngModel)]="user.password" name="password" required>
    <label for="password">Senha</label>
  </div>
  <div class="form-floating input">
    <input autocomplete="new-password" minlength="8" type="password" class="form-control" id="confirmPassword"
      placeholder="Confirmação de senha" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    <label for="confirmPassword">Confirmação de senha</label>
  </div>
  <button class="btn btn-primary" type="submit">Cadastrar</button>
  <div class="divider-container">
    <div class="divider"></div>
    <div class="divider-word">ou</div>
    <div class="divider"></div>
  </div> <a routerLink="/user/login" class="btn btn-primary">Login</a>
</form>
