h1{
  color: #f26530;
  font-family: "Inria Sans", sans-serif;
  font-size: 4rem;
}

h3{
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.star-filled {
  color: gold;
  font-size: 2rem;
}

.star-empty {
  color: lightgray;
  font-size: 2rem;
}

.formatPorcao{
  color: white;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.2rem;
  align-items: center;
}

.formatText{
  font-family: "Inria Sans", sans-serif;
  font-size: 1.5rem;
}

.formatIndex{
  color: #f26530;
  font-size: 3rem;
}
