.formatFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipePosition{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.headerCard{
  // Texto
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(to right, #f26530 60%, #097D4C 40%)
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.star-filled {
  color: gold;
  font-size: 1.5rem;
}

.star-empty {
  color: lightgray;
  font-size: 1.5rem;
}
