<div class="container-fluid">
  @if(recipes)
  {
    <div class="row p-5">
      <!-- @for (item of items; track item.name) -->
      @for (item of recipes.items; track item.id)
      {
        <div class="col-12 col-lg-4 col-xl-3 pb-4">
          <a routerLink="/home/recipes/{{item.id}}" style="text-decoration: none;">
            <div class="card border-success">
              <div class="card-header border-success headerCard d-flex justify-content-between">
                <div class="d-flex align-items-center fst-italic" style="max-width: 60%;">{{ item.name }}</div>
                <div class="d-flex align-items-center fst-italic">{{ item.portion }} porções</div>
              </div>
              <div class="card-body text-success">
                <img
                  src="https://swiftbr.vteximg.com.br/arquivos/ids/163890-1500-1000/picanha-sanfonada-receita.jpg?v=637254996992530000"
                  class="card-img-top" alt="...">
              </div>
              <div class="card-footer bg-transparent border-success formatFlex footerCard">
                <span class="left">
                  <span class="left">Avaliação: </span>
                  <span *ngFor="let star of getStars(item.score)" class="star-filled">★</span>
                  <span *ngFor="let star of getStars(5 - item.score)" class="star-empty">☆</span>
                </span>
                <span class="right">Tempo: {{ item.preparationTime }} min</span>
              </div>
            </div>
          </a>
        </div>
      }@empty{
        <span>Nenhuma receita foi encontrada</span>
      }
    </div>
  }
  <div class="row">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center">
      @if (recipes) {
        <pagination class="align-items-center" [totalItems]="recipes.meta.totalItems" [itemsPerPage]="8" (pageChanged)="pageChanged($event)"></pagination>
      }
    </div>
  </div>
</div>
