<div class="d-flex flex-column sidebar">
  <button class="btn btn-primary mb-2 align-self-end" (click)="createBook()">Novo Livro</button>
  <div *ngIf="books">
    <div *ngFor="let book of books.items">
      <div class="d-flex justify-content-between align-items-center">
        <span class="book-title fw-bold"><button class="btn">{{ book.name }}</button></span>
        <button class="btn btn-danger btn-sm" (click)="confirmDelete(book.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>


