<div class="menu">
  <div class="cabecalho">
    <div class="logo">
      <img src="Logo inteiro.svg" alt="logo do site, garfo e faca cruzados com um chapeu de cozinheiro">
    </div>
    <div class="pesquisa">
      <input class="box-pesquisa" type="search" name="query" placeholder="Pesquisar receitas">
    </div>
    <div class="acesso">
      <div>
        <div>
          <img src="book.svg" alt="icone de soma"> <strong>Livro de receitas</strong>
        </div>
        <div>
          <img src="icone-cadastro.svg" alt="icone de soma"> <strong>Cadastrar-se</strong>
        </div>
        <div>
          <img src="icone-usuario.svg" alt="icone de uma pessoa"> <strong>Faça login aqui</strong>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="categorias">
    <ul>
      <li><img src="chicken.svg" alt="ícone de frango"/>Aves</li>
      <li><img src="fish.svg" alt="ícone de peixe"/>Peixes</li>
      <li><img src="salt.svg" alt="ícone de saleiro"/>Salgados</li>
      <li><img src="meat.svg" alt="ícone de carne"/>Carnes</li>
      <li><img src="cookie.svg" alt="ícone de um biscoite"/>Sobremesas</li>
      <li><img src="cake.svg" alt="ícone de bolo"/>Bolo</li>
    </ul>
  </div>
</div>
